.skills {
  padding: 0 2.5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.skills span {
  color: #2ec4b6;
}

.title {
  display: flex;
}

.text p {
  max-width: 500px;
  margin-top: 1rem;
  letter-spacing: 1px;
  color: #bcb8b1;
  line-height: 1.5rem;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #2ec4b6;
}

@media (max-width: 960px) {
  .skills {
    gap: 1rem;
  }

}


@media (max-width: 640px) {
  .skills {
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    margin-top: 30%;
    margin-bottom: 30%;
  }

  .title {
    justify-content: center;
  }

  .text {
    text-align: center;
  }

}